body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,0,0);
  background: linear-gradient(156deg, rgba(0,0,0,1) 36%, rgba(1,17,116,1) 67%, rgba(156,31,165,1) 80%, rgba(156,31,165,1) 80%);
  color: #fff;
  overflow: hidden;
}

::selection {
  background-color: #ccc;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #ff65b2;
  text-decoration: none;
}

p {
  color: #ccc;
}